/*CSS Document*/
body h1, h2, h3, h4, h5, h6, ul, li {
    margin:0;
}
header,body, main, footer {
    max-width: 900px;
    margin: 0 auto;
}

/*header*/
header {  
    margin: 0 auto;
   background-image: url("../img/peterRabbit.jpg");
   height: 200px;
   color: white;
   text-shadow: 2px 2px 0px #363636; 
}

header h1, h2{
    padding-left: 10px;
}

/*main*/
main #head {
    color:darkolivegreen;
    padding-top: 1rem;
}
main #sub {
    color:darkolivegreen;
    padding: 1rem 0 .5rem 0;
}


/*check box*/
ul {
    padding-bottom: 2rem;
}

ul.objectives li {
  font-size: 16px; 
  list-style-type: none; 
  margin-bottom: .5em; 
  padding: 0.25em 0 0 2.5em; 
  position: relative;
}

ul.objectives li:before {
  content: " "; 
  display: block;
  border: solid 0.8em darkolivegreen;
  border-radius: .2em;
  height: 0;
  width: 0;
  position: absolute;
  left: 0.5em;
  top: 40%; 
  margin-top: -0.5em;
}

ul.objectives li:after {
  content: " ";
  display: block;
  width: 0.3em; 
  height: 0.6em;
  border: solid white;
  border-width: 0 0.2em 0.2em 0;
  position: absolute;
  left: 1em;
  top: 40%;
  margin-top: -0.2em;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*program*/
main section {
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

main section div{
    color:darkolivegreen;
}

main section h1{
    color:darkolivegreen;
}



main #paragraph{
    padding-top: 1rem
    
}

main #paragraph button{
    padding:.5rem 1rem;
    
}



/*footer*/
footer {
    background-color: darkolivegreen;
    text-align: center;
    padding: .1rem 2%;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 30px auto;
    color: white;
}