body{
    margin: auto;
    max-width: 900px;
}
header {
    
    margin: 0 auto;
   background-image: url("../img/gaming.jpg");
   height: 200px;
   color: white;
   text-shadow: 2px 2px 0px #363636; 
}
header h1, h2{
    padding-left: 10px;
}

h1 {
    padding-left: 10px;
}

.game {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: .5rem 0;
}
.game h2{
    
    color: rgb(0, 0, 0);
  
    padding: 0 5rem;
    text-align: center;

    
}
.a1, .a2, .a3, .a4{
    
    text-align: center;
    background-color: rgb(211, 211, 211);
    padding: 10px 1px;
}

#guess{
    margin-bottom: 1rem;
}

ul.objectives li {
  font-size: 16px; 
  list-style-type: none; 
  margin-bottom: .5em; 
  padding: 0.25em 0 0 2.5em; 
  position: relative;
}

ul.objectives li:before {
  content: " "; 
  display: block;
  border: solid 0.8em #3eae2a;
  border-radius: .2em;
  height: 0;
  width: 0;
  position: absolute;
  left: 0.5em;
  top: 40%; 
  margin-top: -0.5em;
}

ul.objectives li:after {
  content: " ";
  display: block;
  width: 0.3em; 
  height: 0.6em;
  border: solid white;
  border-width: 0 0.2em 0.2em 0;
  position: absolute;
  left: 1em;
  top: 40%;
  margin-top: -0.2em;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}


#head {
    color:blue;
}
#sub {
    color:blue;
}

footer {
    background-color: blue;
    text-align: center;
    padding: .1rem 2%;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 30px auto;
    color: white;
}